/*
    Reset browser individual CSS files,
    Set up default styles.
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    min-height: inherit;
    background-color: #282a36;
    color: #f8f8f2;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #ff79c6;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*
    Helpers
*/
.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

.twitch {
    animation: twitch 5s infinite;
    animation-delay: 1s;
}

@keyframes twitch {
    0% {
        transform: scale(0.9, 1.1);
    }
    5% {
        transform: scale(1.1, 0.9);
    }
    10% {
        transform: scale(0.95, 1.05);
    }
    15% {
        transform: scale(1.1, 0.9);
    }
    20% {
        transform: scale(0.95, 1.05);
    }
    100% {
        transform: scale(0.95, 1.05);
    }
}

/*
    Main
*/
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    Flashcard
*/
.flashcard {
    position: relative;
    width: 20em;
    height: 30em;
    perspective: 70em;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.36);
    color: #282a36;
}

.flashcard:hover {
    transform: rotateY(180deg);
}

.flashcard__front,
.flashcard__back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    padding: 1.25em;
}

.flashcard__front {
    background-color: #f8f8f2;
}

.flashcard__back {
    background-color: #f8f8f2;
    transform: rotateY(180deg);
}

.flashcard__back button {
    font-size: 1em;
    color: #f8f8f2;
    background-color: #282a36;
    border: 2px solid #282a36;
    border-radius: 8px;
    padding: 0.75em 1em;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/*
    Controls
*/
#controls {
    margin: 2.5em 0;
}

#controls button {
    font-size: 1em;
    color: #f8f8f2;
    background-color: #383a59;
    border: 2px solid #383a59;
    border-radius: 8px;
    padding: 0.75em 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#controls button:not(:last-of-type) {
    margin-right: 0.75em;
}

#controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#controls button:hover,
#controls button:focus,
#controls button:active {
    outline: none;
    background-color: #2c2e47;
    border-color: #2c2e47;
}
